* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    font-family: serif;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.title {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #ff3333;
}

.description {
    color: #888;
    margin-bottom: 30px;
}

.card {
    border: 1px solid #333;
    padding: 30px;
    background-color: #141414;
    border-radius: 4px;
}

.btn {
    margin-top: 20px;
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #000000;
    padding: 10px 20px;
    font-family: serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #44ff00;
    color: #ffffff;
    box-shadow: 0 0 10px #545454;
}

.site-gif {
    max-width: 100%;       /* Гифка не выйдет за пределы контейнера */
    height: auto;          /* Сохраняет пропорции */
    display: block;        /* Убирает лишние отступы снизу */
    margin: 0 auto 20px;   /* Центрирует гифку и делает отступ снизу 20px */
    border-radius: 4px;    /* Слегка закругляет углы */
    border: 1px solid #333; /* Тёмная рамка вокруг гифки */
}